# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
expo-error.log

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# OS junk
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# Misc
*.orig

app-example
